build/
include/
external/
.cache/
.VSCodeCounter/
bin/
lib/
vgcore.*
*.lib
*.dll
*.exe
*.obj
*.o
*.so
*.dylib
*.glb
*.gltf
Assets/
*.so.*
# external/
*.log
*.tmp
imgui.ini
generated/
*.zst
-.json
massif.*
massif_printed.*